---
import MovieCard from "../MovieCard.astro";
const key = import.meta.env.ApiKeyAuth;
const url = import.meta.env.ApiUrl;

interface Movie {
  id: number;
  title: string;
  name: string;
  poster_path: string;
  original_language: string;
  release_date: string;
  first_air_date: string;
  media_type: string;
  vote_average: number;
}

interface HomePageTrending {
  results: Movie[];
}

let homepagetrending: HomePageTrending | null = null;
try {
  homepagetrending = await fetch(
    `${url}trending/all/week?sort_by=popularity.desc&api_key=${key}&page=1`
  ).then((res) => res.json());
} catch (error) {
  console.error("Fetch failed:", error);
  homepagetrending = { results: [] };
}
---

<div class="">
  <h2 class="text-2xl md:text-3xl justify-center text-center font-bold">
    Trending Now
  </h2>
  <div>
    <div class="py-6 sm:py-8 lg:py-12">
      
        {
          homepagetrending &&
          homepagetrending.results &&
          homepagetrending.results.length > 0 ? (
          <div class="mx-auto max-w-screen-2xl px-5 md:px-20">
            <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
              {homepagetrending.results.map((movie: Movie) => (
                <MovieCard
                  id={movie.id}
                  title={movie.title || movie.name}
                  image={`https://image.tmdb.org/t/p/original/${movie.poster_path}`}
                  language={movie.original_language}
                  year={movie.release_date || movie.first_air_date}
                  type={movie.media_type}
                  rating={movie.vote_average}
                />
              ))}
              
            </div>
            <div class="flex justify-center items-center mt-10">
                <a
                  href="/trending?page=2"
                  class="text-center px-3 py-1.5 rounded-md bg-gray-600/40 active:scale-95 transition-all duration-100"
                >
                  View More
                </a>
              </div>
          </div>
          ) : (
          <div class="mx-auto max-w-screen-2xl px-5 md:px-20">
            <div class="flex justify-center items-center">
              <p class="text-center text-red-500 text-2xl md:text-3xl font-medium">
                Something went wrong. Please try again later.
              </p>
            </div>
            </div>
          )
        }
      </div>
    </div>
  </div>
</div>
