---
import { Image } from 'astro:assets';
import ScrollComponent from './ScrollComponent.astro';
import Model from './Model.astro';
const { moviebackdrops, movieposters } = Astro.props;
const vcdn =
  'https://media.dev.to/cdn-cgi/image/width=550,height=300,fit=cover,gravity=auto,format=auto/';
const hcdn =
  'https://media.dev.to/cdn-cgi/image/width=350,height=500,fit=cover,gravity=auto,format=auto/';

const cdn =
  'https://media.dev.to/cdn-cgi/image/fit=cover,gravity=auto,format=auto/';
---

<div class="py-5">
  <ScrollComponent
    contantainerid="moviemedia"
    isScrollable={true}
    buttons={true}
  >
    {
      moviebackdrops &&
        moviebackdrops.length > 2 &&
        moviebackdrops.slice(0, 10).map((backdrop: string) => (
          <Model isimage={true} link={backdrop}>
            <Image
              src={vcdn + backdrop}
              alt={`Image`}
              width={300}
              height={500}
              class="mb-2 h-40 w-full min-w-72 object-center rounded-lg  hover:scale-[.975] border-2 border-gray-200 transition-all duration-150 ease-in-out bg-gray-200"
              slot="model-trigger"
            />

            <div slot="model-content">
              <Image
                src={cdn+backdrop}
                alt={`Image`}
                width={500}
                height={300}
                class="w-auto h-full items-center justify-center rounded-lg object-center max-h-[95vh] m-0 bg-gray-200"
              />
            </div>
          </Model>
        ))
    }
    {
      movieposters &&
        movieposters.length > 2 &&
        movieposters.slice(0, 5).map((poster: string) => (
          <Model isimage={true} link={poster}  >
            <Image
              src={hcdn + poster}
              alt={`Image`}
              width={300}
              height={500}
              class="mb-2 h-40 w-full min-w-28 object-center rounded-lg  hover:scale-[.975] border-2 border-gray-200 transition-all duration-150 ease-in-out bg-gray-200"
              slot="model-trigger"
            />

            <div slot="model-content">
              <Image
                src={cdn+poster}
                alt={`Image`}
                width={300}
                height={500}
                class="w-auto h-full items-center justify-center rounded-lg object-center max-h-[95vh] m-0 bg-gray-200"
              />
            </div>
          </Model>
        ))
    }

    {
      moviebackdrops.length > 10 || movieposters.length > 5 ? (
        <div class="flex justify-center items-center">
          <a
            href={`${Astro.url.href}/media`}
            class="text-center items-center flex font-bold cursor-pointer ml-5 px-2 py-1  rounded-lg mr-14  bg-gray-200 hover:bg-gray-100"
          >
            View More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              class="size-5 mx-1.5"
            >
              <rect width="256" height="256" fill="none" />
              <line
                x1="40"
                y1="128"
                x2="216"
                y2="128"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
              <polyline
                points="144 56 216 128 144 200"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              />
            </svg>
          </a>
        </div>
      ) : null
    }
  </ScrollComponent>
</div>
{
  moviebackdrops.length > 10 || movieposters.length > 5 ? (
    <div class="pb-5 text-sm sm:text-base font-semibold hover:underline underline-offset-4">
      <a href={`${Astro.url.href}/media`} class="">
        All Backdrops & Posters
      </a>
    </div>
  ) : null
}
