---
import { Image } from "astro:assets";
import Model from "./Model.astro";
import ScrollComponent from "./ScrollComponent.astro";
interface Props {
  title: string;
  image: string;
  posters?: string[];
}

const { title, image, posters } = Astro.props;
const postersnum: number = posters?.length;
const cdn = "";
---

<div class='flex justify-center relative min-h-56 max-h-96'>
  {
    postersnum > 1 ? (
      <Model>
        <Image
          src={cdn + image}
          width={400}
          height={600}
          alt={title}
          slot='model-trigger'
          class='bg-gray-200 object-cover rounded-xl ring-1 ring-gray-200 min-h-40 md:min-h-[22rem] aspect-auto  sm:hidden lg:block h-full w-full'
        />
        <div
          slot='model-content'
          class='w-auto h-full max-h-[90vh] sm:max-w-[90vw] m-0  rounded-lg'>
          <ScrollComponent
            buttons={true}
            scrollbar={true}
            contantainerid='poster'>
            {posters.map((poster, index) => (
              <div class='relative'>
                <span class='absolute top-3 left-3 px-2 py-1 bg-blue-100 text-blue-700 text-xs rounded focus:outline-none ring-1 ring-blue-400'>
                  {index + 1}/{postersnum}
                </span>
                <div class='absolute right-3 top-3 flex items-center space-x-3'>
                  <a
                    href={poster}
                    target='_blank'
                    rel='noopener noreferrer'
                    class='px-2 py-1   bg-blue-100 text-blue-700 text-xs rounded focus:outline-none ring-1 ring-blue-400  '>
                    View Original
                  </a>
                </div>
                <Image
                  src={cdn + poster}
                  width={400}
                  height={600}
                  alt={title}
                  class=' items-center justify-center rounded-lg object-center max-h-[98vh] max-w-[90vw] sm:max-w-max  m-0 bg-gray-200 '
                />
              </div>
            ))}
          </ScrollComponent>
        </div>
      </Model>
    ) : (
      <Image
        src={cdn + image}
        width={400}
        height={600}
        alt={title}
        class='bg-gray-200 object-cover rounded-xl ring-1 ring-gray-200 min-h-40 md:min-h-[22rem] h-auto sm:hidden lg:block'
      />
    )
  }
</div>
