---
import { Image } from 'astro:assets';
import Model from './Model.astro';
import ScrollComponent from './ScrollComponent.astro';
interface Props {
  title: string;
  image: string;
  posters?: string[];
}

const { title, image, posters } = Astro.props;
const postersnum: number = posters?.length;
const cdn =
  'https://media.dev.to/cdn-cgi/image/width=400,height=600,fit=cover,gravity=auto,format=auto/';
---

<div class='flex justify-center relative'>
      {postersnum > 1 ? (
        
  <Model>
    <Image
      src={cdn + image}
      width={400}
      height={600}
      alt={title}
      slot='model-trigger'
      class='bg-gray-200 object-cover rounded-xl ring-1 ring-gray-200 h-auto sm:hidden lg:block'
    />
    <div
      slot='model-content'
      class='w-auto h-full max-h-[98vh] m-0 sm:p-10 rounded-lg'>
      <ScrollComponent buttons={true} contantainerid='poster'>
        {
          posters.map((poster, index) => (
            <div class='relative'>
              <span class='absolute top-3 left-3 px-2 py-1 text-xs bg-blue-200 ring-1 ring-blue-800 text-blue-800 rounded'>
                {index + 1}/{postersnum}
              </span>
              <a
                href={poster}
                target='_blank'
                rel='noopener noreferrer'
                class='px-2 py-1  text-xs bg-blue-200 ring-1 ring-blue-800 text-blue-800 rounded absolute right-3 top-3 '>
                View Original
              </a>
              <Image
                src={cdn + poster}
                width={400}
                height={600}
                alt={title}
                class=' items-center justify-center rounded-lg object-center max-h-[98vh] max-w-[90vw] sm:max-w-max  m-0 bg-gray-200 sm:mb-2'
              />
            </div>
          ))
        }
      </ScrollComponent>
    </div>
  </Model>) : (
        <Image
          src={cdn + image}
          width={400}
          height={600}
          alt={title}
          class='bg-gray-200 object-cover rounded-xl ring-1 ring-gray-200 h-auto sm:hidden lg:block'
        />
      )}
</div>
