---
import { Image } from 'astro:assets';
import ScrollComponent from './ScrollComponent.astro';

const key = import.meta.env.ApiKeyAuth;
const url = import.meta.env.ApiUrl;

interface Recommendation {
  backdrop_path: string;
  id: number;
  original_title: string;
  original_name: string;
  overview: string;
  poster_path: string;
  media_type: string;
  adult: boolean;
  title: string;
  name: string;
  original_language: string;
  first_air_date: string;
  genre_ids: number[];
  popularity: number;
  release_date: string;
  video: boolean;
  vote_average: number;
  vote_count: number;
  origin_country: string[];
}

interface Results {
  page: number;
  results: Recommendation[];
  total_pages: number;
  total_results: number;
}

interface Props {
  id: number;
  type: string;
}

const { id, type } = Astro.props;
async function getRecommendations(): Promise<Recommendation[]> {
  let results: Recommendation[] = [];

  for (let i = 1; i <= 2; i++) {
    const response = await fetch(
      `${url}/${type}/${id}/recommendations?api_key=${key}&language=en-US&page=${i}`
    );
    const data: Results = await response.json();
    results = results.concat(data.results);
  }
  return results;
}

let recommendations = await getRecommendations();

// https://api.themoviedb.org/3/movie/movie_id/recommendations?language=en-US&page=1

const cdn =
  'https://media.dev.to/cdn-cgi/image/width=500,height=300,fit=cover,gravity=auto,format=auto/';
---

<div class='py-5'>
  {
    recommendations.length === 0 ? (
      <div class='flex '>
        <p class='text-base text-gray-800'>No Recommendations Found</p>
      </div>
    ) : (
      <ScrollComponent
        contantainerid='recommendation'
        buttons={true}
        scrollbar={true}>
        {recommendations.map((recommendation: Recommendation) => (
          <a
            href={`/${recommendation.media_type}/${recommendation.id}/${type === 'movie' ? recommendation.title.replace(/ /g, '-').toLowerCase() : recommendation.name.replace(/ /g, '-').toLowerCase()}`}
            class='h-full min-h-32 sm:min-h-36 min-w-56 md:min-w-64 relative hover:scale-[.985] transition-transform '>
            <Image
              width='1200'
              height='720'
              class=' aspect-auto  h-28 sm:h-36 object-cover rounded-lg bg-gray-200'
              src={`${cdn}${recommendation.poster_path ? `https://image.tmdb.org/t/p/original/${recommendation.poster_path}` : `https://ik.imagekit.io/swastikdan/Film-Fanatic/placeholder-vertical.svg`}`}
              alt='media images'
            />

            <div class='flex justify-between space-x-1 text-light text-gray-300 text-xs md:text-sm  py-2'>
              {type === 'movie' ? (
                <span class='text-xs  text-black lg:text-sm font-semibold'>
                  {recommendation.title.length > 25
                    ? recommendation.title.slice(0, 25) + '...'
                    : recommendation.title}
                </span>
              ) : (
                <span class='text-xs  text-black lg:text-sm font-semibold'>
                  {recommendation.name.length > 25
                    ? recommendation.name.slice(0, 25) + '...'
                    : recommendation.name}
                </span>
              )}

              <span class=' flex gap-1 items-center text-black px-1 py-0.5 ring-1 ring-gray-700 rounded'>
                {' '}
                <svg
                  aria-hidden='true'
                  class='w-4 h-4 text-yellow-400'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                  xmlns='http://www.w3.org/2000/svg'>
                  <path d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z' />
                </svg>{' '}
                {recommendation.vote_average.toFixed(1)}
              </span>
            </div>
          </a>
        ))}
      </ScrollComponent>
    )
  }
</div>

<!-- <div>
    <ScrollComponent contantainerid='recommendation' buttons={true} scrollbar={true} >
        {
            recommendations.map((recommendation: Recommendation) => (
                <a
                    href={`/${recommendation.media_type}/${recommendation.id}/${recommendation.url_title}`}
                    class="h-full min-h-32 sm:min-h-36 min-w-56 md:min-w-64 relative hover:scale-[1.02] transition-transform "
                >
                    <Image
                        width="1200"
                        height="720"
                        class=" aspect-auto  h-28 sm:h-36 object-cover rounded-lg bg-gray-500"
                        src={`${cdn}${recommendation.poster_path}`}
                        alt="media images"
                    />

                    <div class="flex justify-between space-x-1 text-light text-gray-300 text-xs md:text-sm  py-2">
                        <span class="text-sm  text-white lg:text-base">
                            {recommendation.title.length > 20
                                ? recommendation.title.slice(0, 20) + '...'
                                : recommendation.title}
                        </span>

                        <span class=" flex gap-1 items-center text-white px-1 py-0.5 ring-1 ring-white rounded">
                            {' '}
                            <svg
                                aria-hidden="true"
                                class="w-4 h-4 text-yellow-400"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>{' '}
                            {recommendation.vote_average}
                        </span>
                    </div>
                </a>
            ))
        }
    </ScrollComponent>
</div> -->
